* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: white;
    padding: 20px;
    color: #333;
    
}

.container {
    width: 1100px;
    margin: 0 auto;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
}
.logo img { 
    height: 40px; 
    
}
.menu-icon {
    cursor: pointer; 
    
}

.hero-section {
    background-color: pink;
    border-radius: 20px;
    display: flex;
    padding: 60px;
    align-items: center;
    margin-bottom: 50px;
    
}
.hero-content {
    flex: 1; 
    
}
.hero-content h1 {
    font-size: 45px;
    margin-bottom: 15px; 
    
}

.hero-content p { 
    color: #688198; 
    margin-bottom: 25px; 
    
}
.price { 
    font-size: 32px; 
    color: hotpink; 
    margin-bottom: 20px; 
    
}

button {
    border: none;
    cursor: pointer;

}

.btn-pink {
    background: hotpink;
    color: white;
    padding: 12px 35px;
    border-radius: 5px;
    
}

.button-black {
    background: black;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    width: 150px;
}

.hero-image img { 
    width: 400px; 
    
}

.section-title h3 { 
    font-size: 26px; 
    margin: 40px 0 20px; 
    
}
.categories-grid {
    display: flex;
    gap: 20px; 
    
    
}
.cat-card {
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.cat-card img { 
    height: 60px; 
    
}
.orange {
    background: orange; 
    
}
.pink { 
    background: deeppink; 
    
}
.blue {
    background: blue; 
    
}

.product-grid { 
    display: flex;
    gap: 25px;
      
}
.product-card {
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    background: white;
    border: 2px solid black 
}
.product-card img { 
    width: 100%; 
    margin-bottom: 20px;
    }
.product-card h3 { 
    margin-bottom: 10px; 
    
}
.product-card p { 
    color: #9C5F5F;
    margin-bottom: 15px; 
    
}
.item-price { 
    margin-bottom: 20px; 
    
}

.newsletter-section {
    background-color: pink;
    margin-top: 70px;
    padding: 100px 20px;
    border-radius: 20px;
    text-align: center;
    
}
.newsletter-section h1 { 
    font-size: 32px; 
    margin-bottom: 10px; 

}
.newsletter-section p { 
    color: #8E3E3E; 
    margin-bottom: 30px; 
    
}

.input-group {
    display: flex;
    width: 500px;
    margin: 0 auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    
}
.input-group input {
    flex: 1;
    border: none;
    padding: 10px;

}
.send-btn {
    background: hotpink;
    color: white;
    padding: 0 35px;
    border-radius: 5px 5px 5px 5px;
}